.header
  min-width 1078px
  padding 0 10px
  box-sizing border-box
  background #f0f3f5
  .body
    width 1058px
    margin 0 auto
    position relative
    .headerBorderLine
      width 100%
      height 1px
      background #eaeaea
      position absolute
      top 78px
    .headerBodyTop
      width 100%
      height 86px
      display inline-block
      .title
        font-weight bold
        line-height 74px
        font-size 32px
        color #258dcd
        float left
        margin-right 55px
        position relative
        .page
          position absolute
          top 0
          left -91px
          font-size 20px
          color #000000
      .searchContainer
        width 461px
        height 30px
        float left
        display flex
        margin-top 25px
        .searchInput
          border-radius 2px 0 0 2px
          box-shadow 0 1px #ccc
          padding-left 10px
          flex 1
        .searchButton
          width 40px
          height 30px
          border-radius 0 5px 5px 0
          background #8d969f
        .select
          border-radius 2px 0 0 2px
          box-shadow 0 1px #ccc
          border-right 1px solid #9b9b9b
    .headerBodyBottom
      width 850px
      line-height 4px
      .headerBodyLink
        display inline-block
        margin-right 30px
        color #258dcd
        height 22px
        line-height 22px
    .headerLogo
      position absolute
      width 186px
      height 96px
      background:url("https://images.weserv.nl/?url=img3.doubanio.com/dae/accounts/resources/19870c3/movie/assets/annual_2019.png") no-repeat
      background-size 160px 90px
      left 66%
      top 12px
