.longCommentsListItem
  padding 20px 0
  border-bottom  1px solid #eee
  .longCommentsListItemHeader
    margin-bottom 10px
    .icon
      display inline-block
      width 24px
      height 24px
      margin-right 10px
    .name
      display inline-block
      font-size 13px
      margin-right 3px
    .starWrapper
      display inline-block
      margin-right 10px
    .date
      display inline-block
      color #999
  .longCommentsListItemTitle
    font-size 14px
    //ellipsis()
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  .Spoiler
    color #9b9b9b
    font-size 13px
  .longCommentsListItemContent
    font-size 13px
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
