.nav
  min-width 1078px
  height 40px
  background #f8f8f8
  position: relative;
  .navInner
    width: 630px;
    margin: 0 auto;
    height: 40px;
    .navLogo
      font-weight bold
      display: inline-block;
      vertical-align: bottom;
      width: 40px;
      font-size 20px
      line-height: 40px;
      background-size: 100%;
      margin-right: 20px;
      .navLogoText
        color #3DB04D
    .navLabel
      display inline-block
      line-height: 40px;
      font-size 16px
      color #BDBDBD
  .navRight
    width 76px
    height 40px
    line-height 40px
    text-align center
    background #3DB04D
    color #fff
    position absolute
    right 0
    top 0
.container
  width: 630px;
  margin: auto;
  .score
    margin-top 40px
    height 40px
    line-height 40px
    font-size 12px
    .label
      margin-right 40px
    .scoreInput
      margin-right 200px
      width 150px
      line-height 20px
      border 1px solid #9b9b9b
  .titleInput
    font-weight bolder
    font-size 19px
    width 100%
    outline: none;
    border-bottom 1px solid #ccc
  .commentInput
    padding 20px 5px
    width 100%
    min-height 800px
