.container
  overflow hidden
  .title
    height 50px
    width 100%
    line-height 50px
    border-bottom 1px solid #cccccc
    .hot
      margin-right 15px
      font-size 16px
    .allHot
      margin-right 15px
      color #258dcd
      font-size 14px
    .soon
      color #258dcd
      font-size 14px
  .photoContainer
    padding-top 18px
    .item
      display inline-block
      margin-right 35px
      width 115px
      &:last-child
        margin-right 0
      .icon
        width 115px
        height 161px
        overflow hidden
        img
          width 100%
      .name
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        text-align center
        height 40px
        line-height 40px
      .starWrapper
        width 64px
        margin-bottom 5px
        text-align center
        height 20px
        padding 0 13px
        position relative
        .score
          color #e09015
          font-size 12px
          position absolute
          top 0
          right -6px
      .button
        margin-left  5px
        width 100px
        color #fff
        height 25px
        line-height 25px
        background #258dcd
        text-align center
