:global
  .photoList__container
    .swiper
      overflow inherit
    .swiper-pagination
      width: 30px;
      height: 20px;
      top: -45px;
      right: 48px;
      bottom auto
      left auto
    .swiper-slide
      visibility hidden
    .swiper-slide-active
      visibility visible
    .swiper-button-prev,.swiper-button-next
      width 15px
      height 15px
      top -24px
    .swiper-button-next
      right 14px
      background-position right
    .swiper-button-prev
      left 675px
      background-position left
    .swiper-button-prev:after,.swiper-button-next:after
      font-size 16px
      font-weight bold
.container
  //overflow hidden
  .title
    height 50px
    width 100%
    line-height 50px
    border-bottom 1px solid #cccccc
    .hot
      margin-right 15px
      font-size 16px
    .allHot
      margin-right 15px
      color #258dcd
      font-size 14px
    .soon
      color #258dcd
      font-size 14px
  .photoContainer
    padding-top 18px
    .item
      display inline-block
      margin-right 35px
      width 115px
      position relative
      &:last-child
        margin-right 0
      &:hover .tip_wrapper
        display block
        z-index 10
      .icon
        width 115px
        height 161px
        overflow hidden
        img
          width 100%
      .name
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        text-align center
        height 40px
        line-height 40px
      .starWrapper
        width 64px
        margin-bottom 5px
        text-align center
        height 20px
        padding 0 13px
        position relative
        .score
          color #e09015
          font-size 12px
          position absolute
          top 0
          right -6px
      .button
        margin-left  5px
        width 100px
        color #fff
        height 25px
        line-height 25px
        background #258dcd
        text-align center
      .tip_wrapper
        display none

