.commonTopHeader
  min-width 1078px
  height 30px
  line-height 30px
  background #545652
  color #eee
  box-sizing border-box
  padding 0 15px
  font-size 13px
  .headerLeft
    float left
    .headerLink
      float left
      margin-right 24px
      a
        color: #ccc
  .headerRight
    float: right
    margin-right 30px
    .headerRightLink
      margin-right 20px;
      color: #ccc;
      &:nth-last-child(1)
        margin-right 0
      .noticeActive
        text-align center
        line-height 15px
        vertical-align middle
        display inline-block
        margin 0 3px
        width 15px
        height 15px
        background red
        color #fff
        border-radius 5px
    .dropDownMenu
      display inline-block
      vertical-align top
      position relative;
      .dropDownMenuBtn
        color: #ccc
        text-align center
      .dropDownMenuList
        position absolute
        top 30px
        left -10px
        width 90px
        background #fff
        border 1px solid #ccc
        display none
        &.isActive
          display block
        .dropDownMenuItem
          text-align center
          display block
          color #000
          &.dropDownMenuItem:hover
            background #F6F6F6

