.ratingContainer
  .item
    width 170px
    height 10px
    margin-bottom 8px
    .label
      float left
      width 30px
      font-size 12px
    .line
      width 88px
      height 10px
      float left
      background #ffd596
      margin-right 5px
    .percent
      font-size 12px
      float left
