.backLink
  margin-bottom 20px
  line-height 20px
.movieDetail
  line-height 24px
  font-size 13px
  .label
    margin-right 8px
  .coverWrapper
    width 100px
    height 141px
    margin-bottom 20px
    img
      width 100%
  .celebrityName:after
    content '/ '
  .celebrityName:last-child:after
    content ""
