.weekendList
  width 100%
  margin-bottom 70px
  .weekendListHeader
    margin: 0 0 15px;
    padding: 12px 0 12px 18px;
    line-height: 1.5;
    background: #f2f7f6;
    border-radius: 4px;
    width: 282px;
    a
      color #258dcd
  .listTitle
    height 40px
    line-height 40px
    width 100%
    border-bottom 1px solid #eaeaea
    .listTitleFirst
      margin-right 15px
    .listTitleSecond
      color #258dcd
      font-size 14px
  .list
    .listItem
      //ellipsis()
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      height 33.6px
      width 100%
      font-size 13px
      line-height 33.6px
      color #258dcd
      border-bottom 1px solid #eaeaea
    .num
      color #333333
.douList
  .douListTitle
    height 30.8px
    border-bottom 1px solid #eaeaea
  .douListItem
    border-bottom 1px solid #eaeaea
    padding 20px 0
    color #258dcd
