.baseBody
  padding 0 10px
  box-sizing border-box
  width 1078px
  margin 40px auto
  overflow hidden
  .baseBodyTitle
    font-size 26px
    margin 0 auto
    font-weight bold
    margin-bottom 30px
  .baseBodyLeft
    min-height 738px
    width 715px
    float left
  .baseBodyRight
    min-height 395px
    width 300px
    float right
