.header
  background  #edf4ed
  height 74px
  min-width 1078px
  .nav
    width: 1040px;
    margin: 0 auto;
    overflow: hidden;
    padding: 22px 0 20px;
    .imgWrapper
      display inline-block
    .navList
      margin-left 50px
      vertical-align bottom
      display inline-block
      .navItem
        font-size 17px
        display inline-block
        margin-right 30px
        a
          color #007722
    .search
      margin-left 200px
      height 28px
      display inline-block
      color #eee
      vertical-align bottom
      position relative
      .searchInput
        width 280px
        line-height 28px
      .searchButton
        background #fff
        cursor pointer
        right 0
        top 0
        position absolute
        width 30px
        height 28px
