.personal_info
  width 100%
  .icon
    vertical-align top
    display inline-block
    width: 48px
    height: 48px
  .personal_info_right
    display inline-block
    margin-left 10px
    .name
      display inline-block
      font-size 26px
      font-weight bold
    .autograph
      margin-top 10px
      font-size 13px
      color #777
.info_title_list
  padding 10px 0 10px 60px
  .info_title_item
    display inline-block
    margin-right 10px
    font-size 13px
    color #666699
.my_comments_list
  margin-bottom 80px
  .my_comments_item
    width 100%
    margin-bottom 20px
    .work_cover_wrapper
      width 90px
      display inline-block
      margin-right 15px
      .work_cover
        width 100%
    .my_comments_item_right
      width 500px
      display inline-block
      vertical-align top
      font-size 13px
      a
        color #666699
      .title
        margin-bottom 11px
      .info
        font-size 13px
        margin-bottom 18px
      .Spoiler
        .tip
          margin-bottom 32px
      .comment_content
        height 67px
        width 100%
        line-height 20px
    .star_wrapper
      width 65px
      display inline-block
