:global
  .hotRecommend__container
    .swiper
      overflow inherit
    .swiper-pagination
      width: 30px;
      height: 20px;
      top: -45px;
      right: 48px;
      bottom auto
      left auto
    .swiper-button-prev,.swiper-button-next
      width 15px
      height 15px
      top -24px
    .swiper-button-next
      right 14px
      background-position right
    .swiper-button-prev
      left 675px
      background-position left
    .swiper-button-prev:after,.swiper-button-next:after
      font-size 16px
      font-weight bold
.container
  overflow hidden
  .title
    height 50px
    width 100%
    line-height 50px
    border-bottom 1px solid #cccccc
    .hot
      margin-right 15px
      font-size 16px
  .photoContainer
    padding-top 18px
    .slide_left
      display inline-block
      width 350px
      height 240px
      img
        width 100%
    .slide_right
      width 317px
      height 168px
      display inline-block
      vertical-align top
      background #F9F9F9
      padding 48px 24px 24px 24px
      .slide_right_title
        font-size 18px
        margin-bottom 20px
      .slide_right_desc
        font-size 13px
        line-height 25px
        color #999
