.input_wrapper
  height 30px
  width 800px
  line-height 30px
  display inline-block
  input
    border 1px solid #000
    width 800px
.btn
  height 50px
  width 100px
  line-height 50px
  text-align center
  border-radius 5px
  color #fff
  background #258dcd
  border 1px solid #eee
:global
  table,
  td {
    border: 1px solid #333;
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    line-height 50px
  }

  thead,
  tfoot {
    background-color: #333;
    color: #fff;
  }
