.pagination
  margin 50px 0
  width 100%
  text-align center
  color #3377aa
  .prev,.next
    color #ccc
    display inline-block
    &.isActive
      color #3377aa
      cursor pointer
  .pageList
    padding 0 15px
    display inline-block
    vertical-align middle
    .pageListItem
      float left
      margin-right 8px
      cursor pointer
      padding 0 4px
      &.isActive
        color #ffffff
        background #83BF73
